.main {
  text-align: center;
}

.board {
  margin-top: 150px;
  /* color: transparent; */
}

.checker {
  padding: 50px;
}

.checkerOdd {
  background-color: black;
}

.checkerEven {
  background-color: grey;
}